h2{
        color: orange;
}
button{
        color: white;background-color: blue;
}
p{
        background-color: rgb(133, 124, 124);
}
#red{

        background-color: red;
}
#yellow{
        background-color: yellow;
}
#green{
        background-color: green;
}
#body{
        background-image: ;
}